
/pyjondb/__pycache__
.DS_Store
.gitattributes
/pyjondb/.DS_Store
BuildandPublish.bat
setup.py
/build
/databases
pyjondb.ico
pypi.readme
/PyJONDB.egg-info
/database-viewer/src/build/PyJONDB Viewer/localpycs
database-viewer/src/convert.bat
